#menu-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: start;
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style-type: none;
}

#menu-app::-webkit-scrollbar {
  display: none;
}

.menu-app-item {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: var(--fuente-secundaria);
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.menu-app-item svg {
  width: 12%;
  height: auto;
  fill: #e8eaed;
}

.menu-app-item span {
  width: 77%;
  font-size: 1.2rem;
}

/* Responsividad */
@media (max-width: 600px) {
  .menu-app-item {
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    height: 45px;
    gap: 0 4px;
    padding: 0 0 0 5px;
  }
  .menu-app-item svg {
    width: 20%;
    height: auto;
  }
  .menu-app-item span {
    padding: 0 2px;
    font-size: 0.8rem;
    word-break: break-all;
    word-wrap: break-word;
  }
}
