# Deploy production FTP/cPanel config
FTP_HOST=ftp.midominio.com
FTP_USER=prod_usuario
FTP_PASSWORD=CAMBIAR_PASSWORD
FTP_PORT=21
FTP_SECURE=false

FTP_FRONTEND_DIR=/public_html
FTP_BACKEND_DIR=/public_html/backend
FTP_BACKEND_URL=https://midominio.com/backend

SKIP_BUILD=false
