# Credenciales FTP
FTP_HOST=ftp.midominio.com
FTP_USER=miusuario
FTP_PASSWORD=mipassword
FTP_SECURE=false

# Rutas Remotas en cPanel
# Directorio donde se sirve el frontend
FTP_FRONTEND_DIR=/public_html
# Directorio raíz donde configuraste la aplicación Node.js en cPanel
FTP_BACKEND_DIR=/api
