# Deploy development/staging FTP config
FTP_HOST=ftp.dev.midominio.com
FTP_USER=dev_usuario
FTP_PASSWORD=CAMBIAR_PASSWORD
FTP_PORT=21
FTP_SECURE=false

FTP_FRONTEND_DIR=/staging.midominio.com
FTP_BACKEND_DIR=/staging.midominio.com/backend
FTP_BACKEND_URL=https://staging.midominio.com/backend

SKIP_BUILD=false
