.avatar {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(116, 255, 78, 0.1);
}

.menu-app {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
}

.barra-lateral {
  flex: 0 0 250px;
  height: 100%;
  background: rgba(38, 38, 38, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  flex-flow: column nowrap;
  border-radius: 12px;
  border-right: 1px solid rgba(116, 255, 78, 0.05);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Responsividad */
@media (max-width: 768px) {
  .barra-lateral {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1000;
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(38, 38, 38, 0.95);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }

  .barra-lateral.open {
    top: 0;
  }

  .avatar {
    flex: 0 0 auto;
  }

  .menu-app {
    flex: 1 1 auto;
    min-height: 0;
    flex-flow: column nowrap;
  }
}
