.contenido-principal {
  flex: 1; /* Take remaining space */
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 0; /* Prevents overflow */
}

@media (max-width: 768px) {
  .contenido-principal {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 50px; /* Espacio para el botón de menú */
  }
}
