.contenido-principal {
  width: 80%;
  height: 95%;
  overflow-x: hidden;
  box-sizing: border-box;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .contenido-principal {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 50px; /* Espacio para el botón de menú */
  }
}
