/* Estilo para el subcontenedor */
.sub-contenedor {
  width: 100%;
  height: 100%;
  background: var(--contenedor);
  border-radius: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--fuente-primaria) transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}

/* Estilos para la versión móvil */
.menu-mobile-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1100;
  background-color: var(--contenedor);
  color: var(--fuente-primaria);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  align-items: center;
  justify-content: center;
}

.menu-mobile-toggle.open {
  transform: translateX(-50%) rotate(180deg);
}

.arrow-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 3px solid var(--fuente-primaria);
  border-right: 3px solid var(--fuente-primaria);
  transform: rotate(135deg); /* Cambiado a 135deg para apuntar hacia abajo */
  margin-top: -6px; /* Ajuste para centrar visualmente la flecha */
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease;
}

.overlay-menu-none {
  display: none;
}

@media (max-width: 768px) {
  .menu-mobile-toggle {
    display: flex;
  }

  .sub-contenedor {
    padding-top: 5px; /* Espacio para el botón móvil */
  }

  /* Ajustamos la posición cuando el menú está abierto */
  .menu-mobile-toggle.open .arrow-icon {
    transform: rotate(-45deg); /* Gira para apuntar hacia arriba */
    margin-top: 6px; /* Ajuste cuando está abierto */
  }
}
